.container {
  text-align: center;
}
.subdiv{
  display: flex;
  flex-wrap: wrap;
  gap : 1.5rem;
  margin: 25px;
  justify-content: center;
}
.Title{
  font-size: 25px !important;
  font-weight: bold !important;
}

.cart-value{
  display: flex;
  justify-content: end;
  margin: 15px;
}
.cartIcon{
  width:fit-content;
  border: 2px solid black;
  border-radius: 5px;
  padding:5px;
}
.cartIcon:hover{
  background-color:black;
  color:rgb(255, 255, 255);
}
.staricons{
  color:rgb(255, 196, 0);
}
.button{
  background-color:transparent !important;
  color:black !important;
  border:1px solid black !important;
}
.button:hover{
  background-color:black !important;
  color:rgb(255, 255, 255) !important;
}
.salebadge{
  background-color:black;
  color:white;
  position:absolute;
  top:0.5rem;
  right:0.5rem;
  border-radius: 5px;
  width:45px;
  font-weight: 500;
  font-size: 15px;
}
.cartBadge{
  background-color: black !important;
  color:white !important;
}
.price{
  display: flex;
  justify-content: center;
}
.footer{
  background-color: transparent !important;
  border: 0px !important;
  padding-top: 0 !important;
}
